/* csiangleur
 *
 * /sass/components/_header.scss - Esthetic style for header
 *
 * coded by Mucht!
 * Started at 28/11/2016
 */


.slogan{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4.166666667%;
    padding: 4rem 4rem 12.2rem 4rem;
    font-family: $philosopherStack;
    text-align: center;
    background-color: $sloganBcg;
    box-shadow: $mainShadow;
    z-index: 1;
    &__line{
        &--one{
            margin-bottom: 0;
            font-size: 3rem;
            line-height: 1.3;
        }
        &--two{
            margin-bottom: 0;
            font-size: 5.7rem;
            line-height: 1.3;
        }
        &--three{
            margin-bottom: 0;
            font-size: 4rem;
            line-height: 1.3;
        }
    }
    &__toggleSections{
        display: block;
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        font-size: 1.8rem;
        text-align: center;
        cursor: pointer;
    }
    &__sections{
        padding-bottom: 16rem;
    }
    &__home{
        padding: 34rem 4rem 4rem 4rem;
    }
 }

 // ===== media query =====
 @media screen and (max-width: 810px) {
     .slogan{
         display: inline-block;
         position: inherit;
         margin: 1rem 0 0 0;
         padding: 0 4rem 2rem 0;
         background-color: transparent;
         box-shadow: none;
         float: right;
         text-align: right;
        &__line{
            display: inline-block;
            font-size: 3rem;
        }
        &__sections{
            position: relative;
        }
        &__toggleSections{
            display: inline-block;
            position: absolute;
            top: 12rem;
            right: 0;
            bottom: auto;
            left: auto;
            width: 20rem;
            padding: 2rem;
            background-color: $sloganBcg;
        }
     }
 }

 @media screen and (max-width: 750px) {
     .slogan{
         padding: 0 4rem 0 0;
         &__toggleSections{
             top: 5rem;
             padding: 1rem;
         }
     }
 }

 @media screen and (max-width: 520px) {
    .slogan{
        &__line{
            font-size: 2rem;
        }
    }
 }
